<p-toolbar class="rounded-[3rem] p-2 sm:p-4 min-h-[44px] sm:min-h-[56px] header-toolbar">
  <ng-template #start>
    <div class="flex items-center">
      <!-- Logo -->
      <p-button icon="pi pi-qrcode" text plain routerLink="/dashboard"
        styleClass="p-button-sm text-xs sm:text-base py-1 px-1.5 sm:py-2 sm:px-3" />

      <!-- Navigation Buttons -->
      <div class="flex items-center ml-1 sm:ml-3 space-x-1 sm:space-x-2">
        <p-button label="Accounts" text plain routerLink="/account"
          styleClass="p-button-sm text-xs sm:text-base py-1 px-1.5 sm:py-2 sm:px-3" />
        <p-button label="Income" text plain routerLink="/income"
          styleClass="p-button-sm text-xs sm:text-base py-1 px-1.5 sm:py-2 sm:px-3" />
        <p-button label="Expenses" text plain routerLink="/expense"
          styleClass="p-button-sm text-xs sm:text-base py-1 px-1.5 sm:py-2 sm:px-3" />
        <p-button (click)="visible = true" icon="pi pi-plus"
          styleClass="p-button-sm !w-7 !h-7 sm:!w-9 sm:!h-9 flex items-center justify-center" />
      </div>
    </div>
  </ng-template>

  <ng-template #end>
    <div class="flex items-center">
      <ng-container *ngIf="isLoggedIn; else loginButton">
        <p-avatar (click)="menu.toggle($event)"
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          class="w-[26px] h-[26px] sm:w-[32px] sm:h-[32px] cursor-pointer" shape="circle" />
        <p-menu #menu [model]="items" [popup]="true" />
      </ng-container>
      <ng-template #loginButton>
        <p-button label="Login" text plain routerLink="/auth/login"
          styleClass="p-button-sm text-xs sm:text-base py-1 px-1.5 sm:py-2 sm:px-3" />
      </ng-template>
    </div>
  </ng-template>
</p-toolbar>

<masTi-crete-modal [visible]="visible" (visibleChange)="onVisibleChange($event)"></masTi-crete-modal>